.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 40px;
}

.id {
  width: 30px;
}

.fio {
  width: 200px;
}

.phone {
  width: 150px;
}

.email {
  width: 200px;
}
