
<div *ngFor="let user of dataBase" class="row">
  <div class="column id">
    {{ user.id }}
  </div>
  <div class="column fio">
    {{ user.fio }}
  </div>
  <div class="column phone">
    {{ user.phone }}
  </div>
  <div class="column email">
    {{ user.email }}
  </div>
  <div class="column email">
    {{ user.time }}
  </div>
</div>

<router-outlet></router-outlet>
